@font-face {
    font-family: 'Roboto';
    src: url('Roboto.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('yanone-kaffeesatz.ttf');
    font-weight: normal;
}



